<h2>List Users</h2>
<p style="color: red;font-size:3em">{{ err }}</p>
{% users.map( user=>{ %>
<div class="container">

    <p> {{user._id}} </p>
    <p> {{user.nombre}} </p>
    <p> {{user.apellido}} </p>
    <p> {{user.email}} </p>
    <p> {{user.pass}} </p>
    <p> {{user.rol}} </p>
    <form action="/users/edit" method="post">
        <input type="hidden" name="edit" value="{{this._id}}">
        <button type="submit">Edit</button>
    </form>
    <form action="/users/delete" method="post">
        <input type="hidden" name="id" value="{{this._id}}">
        <button type="submit">Delete</button>
    </form>
</div>
{% }); %}