<div class="form-group">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="" value="<%= subject.nombre %>" class="form-control" />
</div>
<div class="form-group">
    <label for="nombre">Info Instalar: </label>
    <textarea type="text" name="infoInstalar" id="" value="" class="form-control"
        rows="5"><%= subject.infoInstalar%>  </textarea>
</div>
<div class="form-group">
    <label for="nombre">Enlaces: </label>
    <ul id="listaEnlaces">
        <% if(subject.enlaces){ %>
        <% subject.enlaces.map(enlace =>{ %>
        <li>
            <input type="hidden" name="enlace" value="<%= enlace %>" />
            <a target="_blank" href="<%= enlace %>"><%= enlace %>
            </a>

        </li>
        <% }) %>
        <% } %>
    </ul>
    <input type="text" id="inputEnlace" class="form-control" />
</div>

<script>
    $(document).ready(() => {
        $(window).keydown((e) => {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        })
    })
    $("#inputEnlace").on("keydown", (e) => {
        if (e.which == 13) {
            if ($("#inputEnlace").val().length > 8) {
                var link = $("#inputEnlace").val();
                $("#listaEnlaces").append(`<li><input type="hidden" name="enlace" value ="https://${link}"/><a target="_blank" href="https://${link}">${link}</a></li>`);
                $("#inputEnlace").val('')
            }
        }
    })
</script>