<div class="form-group">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="" value="<%= subject.nombre %>" class="form-control" />
</div>
<div class="form-group">
    <label for="nombre">Info Instalar: </label>
    <textarea type="text" name="infoInstalar" id="" value="<%=  %>" class="form-control" />
    </div>
<div class="form-group">
    <label for="nombre">Enlaces: </label>
    <ul>

    </ul>
    <input type="text" name="nombre" id="" value="<%=  %>"class="form-control" />
</div>
<div class="form-group">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="" value="<%=  %>"class="form-control" />
</div>
<div class="form-group">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="" value="<%=  %>" class="form-control" />
</div>