<p><label for="nombre">Nombre: </label><input type="text" name="nombre" id="" value="<%= user.nombre %>"></p>
<p><label for="apellido">Apellido: </label><input type="text" name="apellido" id="" value="<%= user.apellido %>"></p>
<p><label for="email">Email: </label><input type="text" name="email" id="" value="<%= user.email %>"></p>
<p><label for="pass">Pass: </label><input type="password" name="pass" id="" value="<%= user.pass %>"></p>
<p><label for="rol">Rol: </label><input type="number" name="rol" id="" value="<%= user.rol %>"></p>